
{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block name %}
{% if name %}
<br><h1 class="text-center">{{name}}</h1>
{% else %}
<br><h1 class="text-center">Me</h1>
{% endif %}
{% endblock %}

{% block body %}
<p class="text-center">Hello, I am a student of the Precarpathian National University,</p>
<p class="text-center"> I study in the discipline of "Software Engineering". Almost everything I like to do is related to the computer, except football, of course.</p>
<p class="text-center">I'm here to succeed in programming. I spend most of my time at the computer learning something new and more.</p>
{% endblock %}
