{% extends "layout.html" %}
{% block title %} Reset password {% endblock %}

{% block name %}

<br><h1 class="text-center"> Reset password </h1>

{% endblock %}

{% block body %}

{% for cat, msg in get_flashed_messages(True) %}
<ul class="list-group">
    <li class="list-group-item list-group-item-{{cat}} mx-auto" style="width: 400px; margin-bottom: 30px;">{{msg}}</li>
</ul>
{%endfor %}

{% from "_render_field.html" import render_field %}

  <div class="col-6 mx-auto">

    <div class="card">

      <div class="card-header">
        <h5>Change</h5>
      </div>

      <div class="card-body">
        <form method="post">
          {{ form.csrf_token }}
          {{ render_field(form.old_password, class="form-control") }}
          {{ render_field(form.new_password, class="form-control") }}
          {{ render_field(form.confirm_password, class="form-control") }}
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>

    </div>

  </div>

{% endblock %}