{% extends 'layout.html' %}

{% block title %} Tasks {% endblock %}

{% block name %}
<br><h1 class="text-center">All Tasks</h1>
{% endblock %}

{% block body %}

<table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
       <th scope="col">Title</th>
       <th scope="col">Description</th>
       <th scope="col">Category</th>
       <th scope="col">Priority</th>
       <th scope="col">Progress</th>
       <th scope="col">Deadline</th>
       <th scope="col"><a href="{{ url_for('to_do.task_create') }}" type="button" class="btn btn-success">Add Task</a></th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
      <tr>
       <td><a href="{{url_for('to_do.task', id=task.id) }}">{{task.title}}</a></td>
       <td>{{task.description|safe}}</td>
       <td>{{task.category.name}}</td>
       <td>{{task.priority.name|capitalize }}</td>
       <td>{{task.progress.name|capitalize }}</td>
       <td>{{task.deadline}}</td>
       </tr>
    </tbody>
    {% endfor%}
 </table>

{% endblock %}